################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/DataRetrieve.SqlHelper/obj
/DataRetrieve.Model/obj
/DataRetrieve.MiddleWare/obj
/DataRetrieve.LogHelper/obj
/DataRetrieve.Filter/obj
/DataRetrieve.DataAccess/obj
/DataRetrieve.ConfigHelper/obj
/DataRetrieve.BusinessLogic/obj
/DataRetrieve/obj
/Capital.Library/obj
