@{
    ViewData["Title"] = "群益投信客戶維護";
    ViewBag.SiteMapHead = "群益投信客戶維護";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Metronic Admin Theme #1 | Bootstrap Form Wizard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for bootstrap form wizard demos using Twitter Bootstrap Wizard Plugin" name="description" />
    <meta content="" name="author" />

</head>
<body>
    @using (Html.BeginForm("Insert", "InvestmentTrust", FormMethod.Post))
    {
    <div id="ViewAccount" style="font-family:'微軟正黑體';color:#4F4F4F	">
        <div class="col-md-6 portlet light portlet-fit portlet-form bordered">
            <div class="portlet-body">
                <div class="form-body">

                    <div class="form-group form-md-line-input">
                        <label class="col-md-5 control-label" style="text-align:right;padding:0px!important;margin-right:10px!important" for="form_control_1">
                            編號
                            <span class="required" aria-required="true">*</span>
                        </label>
                        <div class="col-md-4 col-xs-12" style="padding:0px!important">
                            <input type="text" name="NO" id="NO" class="form-control" onkeyup="InvestmentTrust.FieldKeyUp()">
                            <span id="name-error" class="help-block help-block-error"></span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-5 control-label" style="text-align:right;padding:0px!important;margin-right:10px!important" for="form_control_1">
                            客戶名稱
                            <span class="required" aria-required="true">*</span>
                        </label>
                        <div class="col-md-6 col-xs-12" style="padding:0px!important">
                            <input type="text" name="NAME" id="NAME" class="form-control" onkeyup="InvestmentTrust.FieldKeyUp()">
                            <span id="name-error" class="help-block help-block-error"></span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-5 control-label" style="text-align:right;padding:0px!important;margin-right:10px!important" for="form_control_1">
                            身分證字號或營利事業統一編號
                            <span class="required" aria-required="true">*</span>
                        </label>
                        <div class="col-md-6 col-xs-12" style="padding:0px!important">
                            <input type="text" name="IDNO" id="IDNO" class="form-control" onkeyup="InvestmentTrust.FieldKeyUp()">
                            <span id="name-error" class="help-block help-block-error"></span>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="button" id="GoBack" class="btn blue">回上一頁</button>
                            <button type="submit" id="btnSubmit" class="btn green">新增</button>
                            <button type="reset" class="btn default">重填</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</body>
<script src="~/js/InvestmentTrust/InvestmentTrust.js"></script>
<script>
    $(function () { 
        $("#GoBack").click(function () {
            location.href = "@Url.Action("Index","InvestmentTrust")";
        })
        $("#btnSubmit").click(function (e) { 
            e.preventDefault();
            var result = InvestmentTrust.FieldKeyUp()
            if (result)
                $('form').submit();
        })
    })
</script>